<?php

/*
 * This file is part of the Basecamp Classic API Wrapper for PHP 5.3+ package
 *
 * (c) Christian Hoegl <chrigu@sirprize.me>
 */

define('TESTS_SIPRIZE_BASECAMP_BASEURI', 'https://xxxxxx.basecamphq.com');
define('TESTS_SIPRIZE_BASECAMP_USERNAME', 'xxxxxx');
define('TESTS_SIPRIZE_BASECAMP_PASSWORD', 'xxxxxx');

/**
 * PHPUnit Code Coverage / Test Report
 */
define('TESTS_GENERATE_REPORT', true);
define('TESTS_GENERATE_REPORT_TARGET', './_report');
