<?php

/**
 * Basecamp API Wrapper for PHP 5.3+ 
 *
 * LICENSE
 *
 * This source file is subject to the MIT license that is bundled
 * with this package in the file LICENSE.txt
 *
 * @category   Sirprize
 * @package    Basecamp
 * @subpackage Try
 * @copyright  Copyright (c) 2010, Christian Hoegl, Switzerland (http://sirprize.me)
 * @license    MIT License
 */

define('BASECAMP_EXAMPLE_PROJECT_ID', 'xxxxxx');
define('BASECAMP_EXAMPLE_PROJECT_TARGET_ID', 'xxxxxx'); // to demonstrate project copying
define('BASECAMP_EXAMPLE_USER_ID', 'xxxxxx');
define('BASECAMP_EXAMPLE_TODOLIST_ID', 'xxxxxx');
define('BASECAMP_EXAMPLE_MILESTONE_ID', 'xxxxxx');
define('BASECAMP_EXAMPLE_TODOLIST_TEMPLATE_ID', 'xxxxxx');
define('BASECAMP_EXAMPLE_TODOLISTITEM_ID', 'xxxxxx');

set_include_path(implode(PATH_SEPARATOR, array(
    realpath('/path/to/zend/framework'), # path to zend framework
	realpath('../lib'), # path to basecamp lib
	realpath(dirname(__FILE__)),
    get_include_path()
)));

$config = array(
	'baseUri' => 'https://xxxxxx.basecamphq.com',
	'username' => 'xxxxxx',
	'password' => 'xxxxxx'
);

require_once 'Zend/Log/Writer/Stream.php';
$logWriter = new Zend_Log_Writer_Stream(dirname(dirname(__FILE__)).'/_logs/'.gmdate('Ymd').'.log');

require_once 'Zend/Log.php';
$log = new Zend_Log($logWriter);

date_default_timezone_set('UTC');